<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Memorizer</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="node_modules/d3-flame-graph/dist/d3-flamegraph.css">
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link rel="stylesheet" type="text/css" href="sequences.css" />
</head>

<body>
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Memorizer</sup></div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Explore
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Flamegraphs</span>
        </a>
        <div id="collapseTwo" class="collapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Types of Flamegraphs</h6>
            <a class="collapse-item" href="alloc.html">Alloc</a>
            <a class="collapse-item" href="call.html">Call</a>
            <a class="collapse-item" href="free.html">Free</a>
            <a class="collapse-item" href="read.html">Read</a>
            <a class="collapse-item" href="return.html">Return</a>
            <a class="collapse-item" href="write.html">Write</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Force Directed Graphs</span>
        </a>
        <div id="collapseThree" class="collapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Force Directed Graphs</h6>
            <a class="collapse-item" href="filefdg.html">File</a>
            <a class="collapse-item" href="dirfdg.html">Directory</a>
            <a class="collapse-item" href="topfdg.html">Top Directory</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Cycle Histograms</span>
        </a>
        <div id="collapseFour" class="collapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Cycle Histograms</h6>
            <a class="collapse-item" href="call_cycle.html">Call Cycle</a>
            <a class="collapse-item" href="read_cycle.html">Read Cycle</a>
            <a class="collapse-item" href="write_cycle.html">Write Cycle</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="sunburst.html">
       <i class="fas fa-fw fa-cog"></i>
          <span>Sunburst</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="heatmap.html">
          <i class="fas fa-fw fa-cog"></i>
          <span>Heatmaps</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="toprank.html">
          <i class="fas fa-fw fa-cog"></i>
          <span>Rank</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <div class="dropdown-divider"></div>
          </ul>

        </nav>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Call Cycle Histogram</h1>
          </div>

          <!-- Load d3.js -->
          <script src="https://d3js.org/d3.v4.js"></script>
          <!-- Create a div where the graph will take place -->
          <div id="my_dataviz"></div>

          <p>
            <label># bins</label>
            <input type="number" min="1" max="100" step="10" value="20" id="nBin">
          </p>

          <script>

            // set the dimensions and margins of the graph
            var margin = { top: 50, right: 50, bottom: 50, left: 50 },
              width = 1000 - margin.left - margin.right,
              height = 600 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
              .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

            // get the data
            d3.csv("call_cycle.csv", function (data) {

              // X axis: scale and draw:
              var x = d3.scaleLinear()
                .domain([0, 1000])     // can use this instead of 1000 to have the max of data: d3.max(data, function(d) { return +d.price })
                .range([0, width]);
              svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

              // Y axis: initialization
              var y = d3.scaleLinear()
                .range([height, 0]);
              var yAxis = svg.append("g")

              // A function that builds the graph for a specific value of bin
              function update(nBin) {

                // set the parameters for the histogram
                var histogram = d3.histogram()
                  .value(function (d) { return d.price; })   // I need to give the vector of value
                  .domain(x.domain())  // then the domain of the graphic
                  .thresholds(x.ticks(nBin)); // then the numbers of bins

                // And apply this function to data to get the bins
                var bins = histogram(data);

                // Y axis: update now that we know the domain
                y.domain([0, d3.max(bins, function (d) { return d.length; })]);   // d3.hist has to be called before the Y axis obviously
                yAxis
                  .transition()
                  .duration(1000)
                  .call(d3.axisLeft(y));

                // Join the rect with the bins data
                var u = svg.selectAll("rect")
                  .data(bins)

                // Manage the existing bars and eventually the new ones:
                u
                  .enter()
                  .append("rect") // Add a new rect for each new elements
                  .merge(u) // get the already existing elements as well
                  .transition() // and apply changes to all of them
                  .duration(1000)
                  .attr("x", 1)
                  .attr("transform", function (d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                  .attr("width", function (d) { return x(d.x1) - x(d.x0) - 1; })
                  .attr("height", function (d) { return height - y(d.length); })
                  .style("fill", "#69b3a2")


                // If less bar in the new histogram, I delete the ones not in use anymore
                u
                  .exit()
                  .remove()

              }

              // Initialize with 20 bins
              update(20)

              // Listen to the button -> update if user change it
              d3.select("#nBin").on("input", function () {
                update(+this.value);
              });

            });
          </script>
        </div>
      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>

      <!-- Page level plugins -->
      <script src="vendor/chart.js/Chart.min.js"></script>

</body>

</html>
